.sendToCard {

    padding: 10px;
    margin:10px;
    border-radius: 10px;
    clear: both;
    text-align: left;
}

.sendToCard label {

    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
}
